<div class="container home-content">

    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <carousel [isAnimated]="true">

  <slide>
    <img src="../../../assets/skills/img1.jpg" alt="first slide" style="display: block; width: 100%;">
  </slide>
  <slide>
    <img src="../../../assets/skills/img2.jpg" alt="second slide" style="display: block; width: 100%;">
  </slide>
  <slide>
    <img src="../../../assets/skills/img3.jpg" alt="third slide" style="display: block; width: 100%;">
  </slide>
</carousel>
    </div>
    <app-category></app-category>
    <app-plans-and-pricing></app-plans-and-pricing>
</div>